.aboutText {
	p {
		margin: 0 auto;
		text-align: center;
		margin-bottom: 30px;
		width: 95%;
		font-size: 1.1rem;
		font-family: $fontMontserrat;
	}

	h1 {
		text-align: center;
		margin-bottom: 50px;
	}

	h2 {
		text-align: center;
		padding-bottom: 40px;
	}
}

.aboutMap {
	height: 50vh;
	width: 85vw;
	margin: 0 auto;
	display: block;
	border: 3px solid $mintColor;
	border-radius: 1cm;
}

span {
	font-family: inherit;
	font-weight: bold;
}