@media screen and (min-width: 576px) {
	h1 {
		font-size: 3.5rem;
	}

	h2 {
		font-size: 2rem;
	}


	/* Services */

	.px-wide {
		width: 100%;
		margin: auto;
	}


	/* Products */

	.productGrid {
		grid-template-rows: 55vh 55vh 55vh 55vh 55vh 55vh;

		div {
			width: 80vw;
			height: 50vh;
			font-size: 2.5rem;
		}
	}

	/* About */

	.aboutText {
		p {
			font-size: 2.5rem;
			width: 90%;
			font-size: 1.3rem;
		}
	}

	.aboutMap {
		height: 65vh;
	}

	.fbFrame {
		iframe {
			width: 340px;
		}
	}
}