@mixin flexRow ($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
	justify-content: $justify;
	align-items: $align;
}

@mixin mintGradient ($gradientDegree){
    background: linear-gradient($gradientDegree, $mintDarkColor 0%, $mintColor 61%, $mintColor 90%);
	border: 3px solid black;
}