.px-wide {
	width: 100%;
	margin: auto;

@include desktop {
	width: 75%;
	margin: auto;
}
	}

.carousel-inner {
	border-radius: 0.5cm;
	border: 4px solid $mintColor;
	margin-bottom: 50px;

	@include desktop {
		border-radius: 1cm;
	}
}

.carousel-item {
	h5 {
		font-size: 2rem;
		text-shadow: 5px 10px 5px black;
	}
}

.storeHeader {
	text-align: center;
	padding: 0px;
	margin-bottom: 50px;
	overflow: hidden;
}

.storePicture {
	margin: 0 auto;
	margin-bottom: 50px;
	border: 4px solid $mintColor;
	border-radius: 10px;
}