@import "https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap";
@import "https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap";
h1 {
  margin: 25px 0px 25px 0px;
  font-size: 2.5rem;
}
@media screen and (min-width: 576px) {
  h1 {
    font-size: 3.5rem;
  }
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 4rem;
  }
}
@media screen and (min-width: 992px) {
  h1 {
    font-size: 4.5rem;
    margin-bottom: 0.5em;
  }
}

h2 {
  font-size: 2rem;
  text-align: center;
  margin: 0px 25px 0px 25px;
}
@media screen and (min-width: 576px) {
  h2 {
    font-size: 2rem;
  }
}
@media screen and (min-width: 768px) {
  h2 {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 992px) {
  h2 {
    font-size: 3rem;
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  color: white;
  background: linear-gradient(90deg, rgb(34, 34, 34) 0%, rgb(92, 92, 92) 100%);
  padding: 10px;
}

header {
  background: linear-gradient(180deg, rgb(24, 100, 77) 0%, rgb(161, 255, 227) 61%, rgb(161, 255, 227) 90%);
  border: 3px solid black;
  text-align: center;
}
header img {
  width: 150px;
}

.nav-item {
  list-style-type: none;
  margin: 10px 10px 20px 20px;
  font-weight: bold;
  font-size: 25px;
  padding: 10px;
}

.nav-link {
  border-radius: 0.2cm;
}
.nav-link:hover {
  color: rgb(161, 255, 227);
  background-color: rgb(24, 100, 77);
  transition: 300ms ease;
}

.active:hover {
  color: rgb(161, 255, 227);
}

a {
  text-decoration: none;
  color: rgb(0, 58, 39);
}

.bigVelenLogo {
  text-align: center;
  margin-bottom: 50px;
}
.bigVelenLogo img {
  height: 85%;
  width: 85%;
}

.brandsSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.brandsSection div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0px 1vw 0px 1vw;
  margin-top: 10vw;
}
@media screen and (min-width: 992px) {
  .brandsSection div {
    margin: 30px 30px;
  }
}
.brandsSection img {
  width: 25%;
  height: 25%;
  padding: 1vw;
  margin: 0 auto;
  margin-bottom: 40px;
  filter: drop-shadow(5px 5px 5px rgb(24, 24, 24));
  transition: all 0.5s;
  border-radius: 0.5cm;
}
@media screen and (min-width: 992px) {
  .brandsSection img {
    width: 20%;
    height: 20%;
    padding: 20px;
    margin: 0 auto;
    border-radius: 1cm;
  }
}
.brandsSection img:hover {
  background-color: rgb(126, 126, 126);
}

.px-wide {
  width: 100%;
  margin: auto;
}
@media screen and (min-width: 992px) {
  .px-wide {
    width: 75%;
    margin: auto;
  }
}

.carousel-inner {
  border-radius: 0.5cm;
  border: 4px solid rgb(161, 255, 227);
  margin-bottom: 50px;
}
@media screen and (min-width: 992px) {
  .carousel-inner {
    border-radius: 1cm;
  }
}

.carousel-item h5 {
  font-size: 2rem;
  text-shadow: 5px 10px 5px black;
}

.storeHeader {
  text-align: center;
  padding: 0px;
  margin-bottom: 50px;
  overflow: hidden;
}

.storePicture {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
  border: 4px solid rgb(161, 255, 227);
  border-radius: 10px;
}

.border {
  border: 4px solid rgb(161, 255, 227) !important;
  border-radius: 1cm;
}

.productGrid {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  display: grid;
  grid-template-areas: "pc pc" "gpu gpu" "cpu cpu" "mother mother" "storage storage" "peri peri";
  grid-template-rows: 40vh 40vh 40vh 40vh 40vh 40vh;
  justify-items: center;
}
@media screen and (min-width: 576px) {
  .productGrid {
    grid-template-rows: 55vh 55vh 55vh 55vh 55vh 55vh;
  }
}
@media screen and (min-width: 768px) {
  .productGrid {
    gap: 3vw;
    margin: 0 auto;
    width: 90%;
    display: grid;
    justify-content: center;
    grid-template-areas: "pc gpu" "cpu mother" "storage peri";
    grid-template-columns: 50% 50%;
    grid-template-rows: 60vh 60vh 60vh;
  }
}
.productGrid div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80vw;
  height: 35vh;
  margin: 20px 0px 0px 0px;
  font-size: 1.7rem;
  text-shadow: 5px 10px 5px black;
  color: white;
  font-family: "Montserrat", sans-serif;
  transition: all 0.5s;
}
@media screen and (min-width: 576px) {
  .productGrid div {
    width: 80vw;
    height: 50vh;
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 768px) {
  .productGrid div {
    width: 45vw;
    height: 60vh;
    margin: 20px;
    font-size: 2.3rem;
  }
}
@media screen and (min-width: 992px) {
  .productGrid div {
    width: 40vw;
    height: 60vh;
    margin: 20px;
    font-size: 2rem;
  }
}
.productGrid div:hover {
  transform: scale(1.2);
}

.pc {
  grid-area: pc;
  background-image: url(../img/product-pcbuild.jpg);
  background-position: 60%;
}

.gpu {
  grid-area: gpu;
  background-image: url(../img/product-gpu.jpg);
  background-size: cover;
}

.cpu {
  grid-area: cpu;
  background-image: url(../img/product-cpu.jpg);
  background-size: cover;
}

.mother {
  grid-area: mother;
  background-image: url(../img/product-mother.png);
  background-size: cover;
}

.storage {
  grid-area: storage;
  background-image: url(../img/product-ssd.jpg);
  background-size: cover;
}

.peri {
  grid-area: peri;
  background-image: url(../img/product-peri.jpg);
  background-size: cover;
  background-position: 20%;
}

main {
  text-align: center;
}

.aboutText p {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 30px;
  width: 95%;
  font-size: 1.1rem;
  font-family: "Montserrat", sans-serif;
}
@media screen and (min-width: 576px) {
  .aboutText p {
    font-size: 2.5rem;
    width: 90%;
    font-size: 1.3rem;
  }
}
@media screen and (min-width: 768px) {
  .aboutText p {
    width: 80%;
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 992px) {
  .aboutText p {
    width: 70%;
    font-size: 1.7rem;
    margin-bottom: 48px;
  }
}
.aboutText h1 {
  text-align: center;
  margin-bottom: 50px;
}
.aboutText h2 {
  text-align: center;
  padding-bottom: 40px;
}

.aboutMap {
  height: 50vh;
  width: 85vw;
  margin: 0 auto;
  display: block;
  border: 3px solid rgb(161, 255, 227);
  border-radius: 1cm;
}
@media screen and (min-width: 576px) {
  .aboutMap {
    height: 65vh;
  }
}
@media screen and (min-width: 768px) {
  .aboutMap {
    height: 65vh;
    width: 70vw;
  }
}
@media screen and (min-width: 992px) {
  .aboutMap {
    width: 60vw;
  }
}

span {
  font-family: inherit;
  font-weight: bold;
}

.contactForm {
  text-align: center;
  margin: 0 auto;
  margin-top: 40px;
  padding: 20px;
  width: 90vw;
  border: solid rgb(161, 255, 227);
  background-color: rgba(22, 22, 22, 0.5);
  border-radius: 0.5cm;
}
@media screen and (min-width: 992px) {
  .contactForm {
    width: 60vw;
    padding: 50px;
    border-radius: 0.5cm;
  }
}
.contactForm legend {
  font-size: 1.6rem;
}
@media screen and (min-width: 992px) {
  .contactForm legend {
    font-size: 2rem;
  }
}
.contactForm input {
  padding: 1vw;
  margin: 20px 10px 0px 10px;
  color: white;
  width: 50vw;
  background-color: rgb(22, 22, 22);
  font-family: "Montserrat", sans-serif;
  border-radius: 4px;
}
@media screen and (min-width: 992px) {
  .contactForm input {
    padding: 5px;
    margin: 20px 10px 0px 10px;
    border-radius: 4px;
    width: 30%;
  }
}
.contactForm textarea {
  padding: 5px;
  margin-top: 5vh;
  color: white;
  width: 75vw;
  background-color: rgb(22, 22, 22);
  font-family: "Montserrat", sans-serif;
  border-radius: 4px;
}
@media screen and (min-width: 992px) {
  .contactForm textarea {
    padding: 5px;
    margin-top: 20px;
    border-radius: 4px;
    width: 90%;
  }
}

.fbFrame {
  text-align: center;
  margin-top: 80px;
}
.fbFrame iframe {
  width: 60%;
  border-radius: 0.5cm;
}
@media screen and (min-width: 576px) {
  .fbFrame iframe {
    width: 340px;
  }
}

footer {
  background: linear-gradient(0deg, rgb(24, 100, 77) 0%, rgb(161, 255, 227) 61%, rgb(161, 255, 227) 90%);
  border: 3px solid black;
  font-family: "Roboto", sans-serif;
  margin-top: 8vw;
  padding: 40px;
}
footer a img {
  transition: all 200ms ease-in-out;
}
footer a img:hover {
  transform: scale(1.4);
}
footer .display-6 {
  font-weight: bolder;
  transition: all 200ms ease-in-out;
  padding: 10px;
  border-radius: 0.5cm;
}
footer .display-6:hover {
  color: white;
  background-color: rgb(24, 100, 77);
}
footer .text-light:hover {
  transform: scale(1.5);
}

/*# sourceMappingURL=style.css.map */
