@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* MOBILE */

/* header */

header {
    background: linear-gradient(180deg, rgb(24, 100, 77) 0%, rgba(161, 255, 227, 1) 61%, rgb(161, 255, 227) 90%);
    border: 3px solid black;
    text-align: center;
}

header img {
    width: 150px;
}

.nav-item {
    list-style-type: none;
    margin: 10px 10px 20px 20px;
    font-weight: bold;
    font-size: 25px;
    padding: 10px;
}

.nav-link {
    border-radius: 0.2cm;
}

.active:hover {
    color: rgb(161, 255, 227);
}

.nav-link:hover {
    color: rgb(161, 255, 227);
    background-color: rgb(24, 100, 77);
    transition: 300ms ease;
}

a {
    text-decoration: none;
    color: rgb(0, 58, 39);
}

body {
    color: white;
    background: linear-gradient(90deg, rgb(34, 34, 34) 0%, rgb(92, 92, 92) 100%);
    padding: 10px;
}

/* index */

.bigVelenLogo {
    text-align: center;
    margin-bottom: 50px;
}

.bigVelenLogo img {
    height: 85%;
    width: 85%;
}

h1 {
    margin: 25px 0px 25px 0px;
    font-size: 12vw;
}

h2 {
    font-size: 9vw;
    text-align: center;
    margin: 0px 25px 0px 25px;
}

.brandsSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.brandsSection div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0px 1vw 0px 1vw;
    margin-top: 10vw;
}

.brandsSection div img {
    width: 25%;
    height: 25%;
    padding: 1vw;
    margin: 0 auto;
    margin-bottom: 40px;
    filter: drop-shadow(5px 5px 5px rgb(24, 24, 24));
    transition: all 0.5s;
    border-radius: 0.5cm;
}

.brandsSection div img:hover {
    background-color: rgb(126, 126, 126);
}

/* services */

.px-wide {
    width: 100%;
    margin: auto;
}

.carousel-inner {
    border-radius: 0.5cm;
    border: 4px solid rgb(161, 255, 227);
    margin-bottom: 50px;
}

.carousel-item h5 {
    font-size: 2rem;
    text-shadow: 5px 10px 5px black;
}

.storeHeader{
    text-align: center;
    padding: 0px;
    margin-bottom: 50px;
    overflow: hidden;
}

.storePicture{
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
    border: 4px solid rgb(161, 255, 227);
    border-radius: 10px;
}

/* products */

.border {
    border: 4px solid rgb(161, 255, 227) !important;
    border-radius: 1cm;
}

.productGrid div {
    width: 80vw;
    height: 35vh;
    display: flex;
    margin: 20px 0px 0px 0px;
    justify-content: center;
    align-items: center;
    font-size: 5vw;
    text-shadow: 5px 10px 5px black;
    color: white;
    font-family: 'Montserrat', sans-serif;
    transition: all 0.5s;
}

.productGrid div:hover {
    transform: scale(1.2);
}

.pc {
    grid-area: pc;
    background-image: url(../img/product-pcbuild.jpg);
    background-position: 60%;
}

.gpu {
    grid-area: gpu;
    background-image: url(../img/product-gpu.jpg);
    background-size: cover;
}

.cpu {
    grid-area: cpu;
    background-image: url(../img/product-cpu.jpg);
    background-size: cover;
}

.mother {
    grid-area: mother;
    background-image: url(../img/product-mother.png);
    background-size: cover;
}

.storage {
    grid-area: storage;
    background-image: url(../img/product-ssd.jpg);
    background-size: cover;
}

.peri {
    grid-area: peri;
    background-image: url(../img/product-peri.jpg);
    background-size: cover;
    background-position: 20%;
}

.productGrid {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    display: grid;
    grid-template-areas:
        "pc pc"
        "gpu gpu"
        "cpu cpu"
        "mother mother"
        "storage storage"
        "peri peri";
    grid-template-rows: 40vh 40vh 40vh 40vh 40vh 40vh;
    justify-items: center;
}

/* about */

main {
    text-align: center;
}

.aboutText p {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
    width: 100%;
    font-size: 4.5vw;
    font-family: 'Montserrat', sans-serif;
}

.aboutText h1 {
    text-align: center;
    margin-bottom: 50px;
}

.aboutText h2 {
    text-align: center;
    padding-bottom: 40px;
    font-size: 7vw;
}

.aboutMap {
    height: 50vh;
    width: 85vw;
    margin: 0 auto;
    display: block;
    border: 3px solid rgb(161, 255, 227);
    border-radius: 1cm;
}

span {
    font-family: inherit;
    font-weight: bold;
}

/* contact */

.contactForm {
    text-align: center;
    margin: 0 auto;
    margin-top: 40px;
    padding: 20px;
    width: 90vw;
    border: solid rgb(161, 255, 227);
    background-color: rgba(22, 22, 22, 0.5);
    border-radius: 0.5cm;
}

.contactForm legend {
    font-size: 5vw;
}

.contactForm input {
    padding: 1vw;
    margin: 20px 10px 0px 10px;
    color: white;
    width: 50vw;
    background-color: rgb(22, 22, 22);
    font-family: 'Montserrat', sans-serif;
    border-radius: 4px;
}

.contactForm textarea {
    padding: 5px;
    margin-top: 5vh;
    color: white;
    width: 75vw;
    background-color: rgb(22, 22, 22);
    font-family: 'Montserrat', sans-serif;
    border-radius: 4px;
}

.fbFrame{
    text-align: center;
    margin-top: 80px;
}

.fbFrame iframe{
    width: 60%;
    border-radius: 0.5cm;
}

/* footer */

footer {
    color: black;
    background: linear-gradient(0deg, rgb(24, 100, 77) 0%, rgba(161, 255, 227, 1) 61%, rgb(161, 255, 227) 90%);
    font-family: 'Roboto', sans-serif;
    margin-top: 8vw;
    border: solid black;
    padding: 40px;
}

footer a img {
    transition: all 200ms ease-in-out;
}

footer a img:hover {
    transform: scale(1.4);
}

footer .display-6 {
    font-weight: bolder;
    transition: all 200ms ease-in-out;
    padding: 10px;
    border-radius: 0.5cm;
}

footer .display-6:hover {
    color: white;
    background-color: rgb(24, 100, 77);
}

footer .text-light:hover {
    transform: scale(1.5);
}


/* TABLET */

@media screen and (min-width: 576px) {

    /* services */

    .px-wide {
        width: 100%;
        margin: auto;
    }


    /* products */

    .productGrid div {
        width: 80vw;
        height: 50vh;
    }

    .productGrid {
        grid-template-rows: 55vh 55vh 55vh 55vh 55vh 55vh;
    }

    /* about */

    .aboutText p {
        width: 90%;
        font-size: 4vw;
    }

    .aboutMap {
        height: 65vh;
    }


/* contact */

.fbFrame iframe{
    width: 340px; 
}

}
@media screen and (min-width: 768px) {

    h1 {
        font-size: 9vw;
    }

    h2 {
        font-size: 6vw;
    }

    /* products */

    .productGrid div {
        width: 45vw;
        height: 60vh;
        margin: 20px;
        font-size: 4vw;
    }

    .productGrid {
        gap: 3vw;
        margin: 0 auto;
        width: 90%;
        display: grid;
        justify-content: center;
        grid-template-areas:
            "pc gpu"
            "cpu mother"
            "storage peri";
        grid-template-columns: 50% 50%;
        grid-template-rows: 60vh 60vh 60vh;
    }

    /* about */

    .aboutText p {
        width: 80%;
    }

    .aboutMap {
        height: 65vh;
        width: 70vw;
    }
}

/* DESKTOP */

@media screen and (min-width: 992px) {

    /* index */

    h1 {
        font-size: 5vw;
        margin-bottom: 0.5em;
    }

    h2 {
        font-size: 4vw;
    }

    .brandsSection div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 30px 30px;
    }

    .brandsSection div img {
        width: 20%;
        height: 20%;
        padding: 20px;
        margin: 0 auto;
        border-radius: 1cm;
    }

    /* services */

    .px-wide {
        width: 75%;
        margin: auto;
    }

    .carousel-inner {
        border-radius: 1cm;
    }

    /* products */

    .productGrid div {
        width: 40vw;
        height: 60vh;
        margin: 20px;

    }

    /* about */

    .aboutText p {
        width: 80%;
        margin-bottom: 48px;
        font-size: 28px;
    }

    .aboutText h2 {
        font-size: 48px;
    }

    .aboutMap {
        width: 60vw;
    }

    /* contact */

    .contactForm {
        width: 60vw;
        padding: 50px;
        border-radius: 0.5cm;
    }

    .contactForm legend {
        font-size: 4vw;
    }

    .contactForm input {
        padding: 5px;
        margin: 20px 10px 0px 10px;
        border-radius: 4px;
        width: 80%;
    }

    .contactForm textarea {
        padding: 5px;
        margin-top: 20px;
        border-radius: 4px;
        width: 90%;
    }
}